<div class="row justify-content-center">
  <table>
    <tbody>
      <% item.item_comments.each do |item_comment| %>
        <tr>
          <td>
           <p class="word" style="width: 150px;"><%=safe_join(item_comment.comment.split("\n"),tag(:br))%></p>
          </td>
          <td>
            <i class="far fa-user-circle"></i>By<%= item_comment.end_user.name %><%= item_comment.created_at.strftime('%Y/%m/%d') %>
             <% if item_comment.end_user == current_end_user %>
              <%= link_to item_item_comment_path(item_comment.item, item_comment.id), method: :delete, remote: true, class: "fas_button_border" do %>
              <i class="fas fa-trash-alt" style="color: #ffffff;"></i><% end %>
             <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
