<% notifications = @notifications.where.not(visitor_id: current_end_user.id) %>
    <br>
   
    <div class="container">
    <div class ="col-md-12">
      <div class="col-md-7">
    <%= link_to destroy_all_notifications_path, method: :delete do %>
        <i class="fas fa-trash-alt" style="color: #af9dc0"></i>
        <h7 style="color: #af9dc0;">全削除</h7>
    <% end %>
     </div>
    <hr>
      <div class="row align-items-center">
        <div class="col-auto mx-auto">
            <% if notifications.exists? %>
                <%= render notifications %>
            <% else %>
                <p>通知はありません</p>
            <% end %>
        </div>
      </div>
    </div>
</div>

