

  <div class="container">
    
    <div class="d-flex align-items-center justify-content-center" style="height:500px;">
      <a class="" href="/"><%= image_tag 'box.png', size: "600x600" %></a>
    </div>
  
   </div>

        <div class="row">
        <div class="col-auto mx-auto">
    	　<i class="fa-brands fa-twitter-square fa-2x text-secondary"></i>
    	　<i class="fa-brands fa-line fa-2x text-secondary"></i>
    	　<i class="fa-brands fa-facebook-square  fa-2x text-secondary"></i>
       </div>
       </div>
    





