<div class="container">
 <br>
 <br>
  <div class="text-center" >
    日常のちょっとした幸せの共有をコンセプトにしています。<br>
    美容・健康・生活雑貨のおすすめやお気に入りを投稿してみよう！<br>
    新しいお気に入りやワクワクがきっと見つかります。<br>
    共感できる人との出会いは、新しい日常へあなたを導きます。<br>
  <a class="col-auto mx-auto" href="/items"><%= image_tag 'TOP.png', width: '40%', height: '40%' %></a>
  </div>
</div>

