<div class="container">
 <br>
 <br>
  <div class="text-center" >
    日常のちょっとした幸せの共有をコンセプトにしています。<br>
    美容・健康・生活雑貨のおすすめやお気に入りを投稿してみよう！<br>
    新しいお気に入りやワクワクがきっと見つかります。<br>
    共感できる人との出会いは、新しい日常へあなたを導きます。
  </div>
  <div class="text-center topimage">
    <a class="" href="/items"><%= image_tag 'TOP.png', size: "350x350" %></a>
    <!--<div class='backimage' style="background: url(<%#= asset_path "TOP.png" %>)center center / contain no-repeat fixed;"></div>-->
  </div>

  <div class="row">
    <div class="col-auto mx-auto n-icon"  >
    <a class="" href="#"><i class="fab fa-twitter fa-2x " style="color:#af9dc0"></i></a>
    <a class="" href="#"><i class="fab fa-instagram fa-2x " style="color:#af9dc0"></i></a>
    <a class="" href="#"><i class="fab fa-facebook fa-2x " style="color:#af9dc0"></i></a>
    </div>
  </div>
</div>
<br>
