

  <div class="container">
     <br>
    <div class="text-center">
      日常のちょっとした幸せの共有をコンセプトにしています。<br>
      美容・健康・生活雑貨のおすすめやお気に入りを投稿してみよう！<br>
      新しいお気に入りやワクワクがきっと見つかります。<br>
      共感できる人との出会いは、新しい日常へあなたを導きます。
    </div>

    <div class="d-flex align-items-center justify-content-center" style="height:400px;">
      <a class="" href="/items"><%= image_tag 'box.png', size: "600x600" %></a>
    </div>

      <div class="row">
        <div class="col-auto mx-auto">
    	　<i class="fab fa-twitter fa-2x text-secondary"></i>
    	　<i class="fab fa-instagram fa-2x text-secondary"></i>
    	　<i class="fab fa-facebook fa-2x text-secondary"></i>
       </div>
     </div>
   </div>






