@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   }

body {
  width: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #bdd8dd;
 }

 main {
  flex: 1;
 }

 .fas_button_round{
	border: none;
	padding: 0 20px;
	height: 40px;
	line-height: 1;
	background: #e6c5cf;
	color: #af9dc0;
	border-radius: 20px;
	font-size: 1.5em;
	cursor: pointer;
	margin-right: 10px;
}
.fas_button2{
	border: none;
	padding: 5px 10px;
	height: 40px;
	line-height: 1;
	background: #bdd8dd;
	color: #fff;
	border-radius: 20px;
	font-size: 1em;
	cursor: pointer;
}

.fas_button_borderradius{
	padding: 0 20px;
	height: 40px;
	line-height: 1;
	background: #af9dc0;
	border: 2px solid #e6c5cf;
	color: #e6c5cf;
	font-size: 1em;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.fas_button_borderbottom{
	border: none;
	padding: 0 20px;
	height: 40px;
	line-height: 1;
	background: #af9dc0;
	color: #fff;
	border-bottom: 4px solid #af9dc0;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	margin-top: 10px;

}
.fas_button_border{
	border: none;
	padding: 5px 20px;
	height: 40px;
	line-height: 1;
	background: #bdd8dd;
	color: #fff;
	border-bottom: 4px solid #bdd8dd;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	margin-bottom: 10px;
	margin-left: 20px;

}

.fas_button_borderbackround{
	border: none;
	padding: 0 0;
	height: 45px;
	line-height: 1;
	background: #af9dc0;
	border: 2px solid #fff;
	font-size: 1em;
	border-radius: 20px;
	cursor: pointer;
	margin-right: 10px;
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  margin-left: 2rem;
  margin-top: 1rem;
  color: #efa04c;
}

.word{
	word-wrap: break-word;
}



/*ページネーション自体のデザイン*/
.pagination>li>a {
  //border: none;     /*枠線をなくす*/
  color: #bdd8dd;/*文字の色を変える*/
  background-color: #af9dc0;
  border-radius: 15px;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #af9dc0;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

@media screen and (max-width:765px) {

 @include media-breakpoint-up(md) {
    @include row-cols(1);
  }
  .fas_button_borderbackround{
 	margin-bottom: 10px;
 }
}

// @media screen and (max-width:860px){
//   .backimage{
// 	　background-attachment: fixed;
// 	}
// }
@media screen and (max-width:569px) {
	.fas_button_borderbackround{
 		padding: 0px 10px;
 }
 .fas_button_round{
 	margin-right: 10px;
 }
}
@media screen and (max-width:428px) {
 header,
 footer{
  min-width: 420px;
 }
 //footer{
 //	display: flex;
 //	flex-flow: column;
 //}


}

