  <div class= "container">
    <div class="row justify-content-center">
    <%= link_to items_path({sort: "create"}) do %>新着順<% end %> |
    <%= link_to items_path({sort: "star"}) do %>星評価順<% end %>
    </div>
  </div>
  