<br>
<div class= "text-center">
    <%= form_tag end_user_path(@end_user), method: :get, class: 'boards__searchForm items_#{end_user.id}' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'Category検索',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
</div>
<br>