<div class="check_box">
  
  
     <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]) %>
                   
    <%#= f.options_for_select(:tag_ids, Tag.all, :id, :name) do |tag| %>
     <div class>
         <%= tag.label do %>
         <%= tag.check_box %>
         <%= tag.text %>
         <% end %>
     </div>
    
   
 </div>