<br>
<div class= "container">
  <div class="row justify-content-center">
    <%= link_to end_user_path(end_user, {sort: "create"}) do %>新着順<% end %> |
    <%= link_to end_user_path(end_user, {sort: "star"}) do %>星評価順<% end %>
  </div>
</div>
<br>