<footer class="footer">
  <div class='container-fluid position: fixed;' style= "background-color: #bdd8dd">
  	<div class="row">
      <div class="col-auto mx-auto ">
  	  <br>
    	  <p class="text-white text-center">Copyright © Favorites Box, Inc.</p>
      </div>
    </div>
    <div class="row">
    <div class="col-auto mx-auto n-icon width: 40%; height: 40%;"  >
    <a class="" href="#"><i class="fab fa-twitter fa-2x " style="color:#af9dc0"></i></a>
    <a class="" href="#"><i class="fab fa-instagram fa-2x " style="color:#af9dc0"></i></a>
    <a class="" href="#"><i class="fab fa-facebook fa-2x " style="color:#af9dc0"></i></a>
    </div>
  </div>
    <br>

  </div>
</footer>