<footer class="footer">
  <div class='container-fluid position: fixed;' style= "background-color: #bdd8dd" height="400px">
  
  	<div class="row">
      <div class="col-auto mx-auto">
    	  <p class="text-secondary text-center">Copyright © Favorites Box, Inc.</p>
      </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-auto mx-auto">-->
    <!--	　<i class="fa-brands fa-twitter-square fa-2x text-secondary"></i>-->
    <!--	　<i class="fa-brands fa-line fa-2x text-secondary"></i>-->
    <!--	　<i class="fa-brands fa-facebook-square  fa-2x text-secondary"></i>-->
    <!-- </div>-->
    <!-- </div>-->
     
  </div>
</footer>