<footer class="footer">
  <div class='container-fluid position: fixed;' style= "background-color: #bdd8dd" height="400px">
  
  	<div class="row">
      <div class="col-auto mx-auto ">
    	  <p class="text-white text-center">Copyright © Favorites Box, Inc.</p>
      </div>
    </div>
     
  </div>
</footer>